body {background-color: #F4FDFF; margin: 0px; padding: 0px;}
* {font-family:Geneva,Arial,Helvetica,serif,sans-serif; outline: none;}
h1 {font-size: 24px; margin:0px; padding:0px; cursor:pointer;}
h2 {font-size: 18px; margin:0px; padding:0px; text-transform:uppercase;cursor:pointer; margin-left:20px; width: 200px;}
h1:hover,h2:hover {color:red;}
a {text-decoration:none; color:red; cursor: pointer;}
a:visited{color:black;text-decoration: line-through;}
a span {border-bottom:dashed 1px gray;}
div.date {}
ul.locationItems {margin:10px 10px 10px 25px;padding:0px; -moz-box-shadow: 0px 0px 3px #000000; -webkit-box-shadow:0px 0px 3px #000000; -o-box-shadow:0px 0px 3px #000000; box-shadow:0px 0px 3px #000000;}
ul {list-style-type:none;}
ul li {list-style-type:none; margin:0px; padding:0px;}
ul.locationItems li {list-style-type:none; margin:1px; padding:0px;}
ul.locationItems li a {padding:4px 10px;}
ul.locationItems li:nth-child(odd) {background-color: #F7F7F7;}
ul.locationItems li:nth-child(odd) a{border:dashed 1px #F7F7F7;}
ul.locationItems li:nth-child(even) {background-color: white;}
ul.locationItems li:nth-child(even) a{border:dashed 1px white;}
ul.locationItems li,
ul.locationItems li a { font-size: 16px; line-height:25px;display:block;}
ul.locationItems li:nth-child(odd) a:hover,
ul.locationItems li:nth-child(even) a:hover {border: dashed 1px gainsboro; background-color: #EDF3F4;}

ul.locationItems li a:visited ,
ul.locationItems li:nth-child(odd) a:visited,
ul.locationItems li:nth-child(even) a:visited {border: dashed 1px gray; background-color: #F7EAEA;}

ul.locationItems,
ul.locationItems li,
ul.locationItems li:nth-child(odd),
ul.locationItems li:nth-child(even),
ul.locationItems li a {-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px;}

form label {display:block; font-size: 12px; clear:left; line-height: 20px;}
form label.fields {width:80px;float: left; line-height: 20px; text-align: right; margin-right: 10px;}
form input[type=text].fields {float:left; width: 120px; line-height: 20px;}
form input[type=radio].fields {float:left; line-height: 20px;}
form input,form button {margin:5px; padding:2px; color:red; border:solid 1px gray; background-color:white; margin-top: 0px;}
span.near {margin-left:10px; text-transform:uppercase; font-weight:bold;}
form button, form input[type=text]{-moz-box-shadow: 0px 0px 2px #000;-webkit-box-shadow: 0px 0px 2px #000;}
form label input[type=checkbox]{-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.7);-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.7); float:left; margin-bottom:0px; margin-top: 2px;}
cite {display:block;font-size: 10px; font-style: italic;margin:5px; margin-top: 0px; padding:2px;}
a#search_btn {margin:5px;padding:2px;color:red;border:solid 1px gray;background-color:white;-moz-box-shadow: 0px 0px 2px #000;-webkit-box-shadow: 0px 0px 2px #000;text-decoration: none;padding:5px;display:inline-block;}
form button:focus,form input[type="text"]:focus,form input[type="password"]:focus,form input[type="file"]:focus,form select:focus,form textarea:focus,a#search_btn:focus,a#search_btn:hover{ background-color: #FFF;border: 1px solid #508FCF; -moz-box-shadow: 0px 0px 2px #999; -webkit-box-shadow: 0px 0px 2px #999;}
#locations_container {height:250px; overflow: auto; -moz-box-shadow:0 1px 3px #000000;padding:2px;margin:0px; margin-bottom: 10px;}
#content-container {position: absolute; top: 25px; right: 0px; bottom: 0px;padding-top: 10px; padding-left: 10px; left: 270px;}
#link_content, #content {overflow-y: scroll; display:block;}
#find_items {position: relative; top: 25px; left:0px; width: 250px; background-color: #fff; border: solid 1px #999; padding:10px; border-left: none; border-top: none; margin: 0px; -moz-box-shadow:0px 1px 3px #000; -webkit-box-shadow:0px 1px 3px #000;}
#change_size_container {display:block;}

#areas_list label:nth-child(even),
#region_list label:nth-child(even) {background-color: rgba(0, 0, 0, 0.2);}
#areas_list label:nth-child(odd),
#region_list label:nth-child(odd) {background-color: rgba(0, 0, 0, 0.07);}

a#donate {text-decoration: none; display:block; border-top: solid 1px #999; margin:-10px; margin-top: 0px; line-height: 30px; text-align: center;}
a#donate:hover{background-color: #F4FDFF;}
a#donate:focus{color: red;}
.linkhover {color:red; font-weight: bold;}
#header {    background-color: #d8ebec;position: absolute;top:0px;left:0px;right:0px;z-index: 1000;}
#header ul {display: block;margin:0px;padding:0px;}
#header,#header ul,#header ul li,#header ul li a{line-height: 25px;height: 25px;font-size: 14px;}
#header ul li {float: left;}
#header ul li a {padding: 0px 5px; font-weight: bold; display:block; text-decoration: none;}
#header ul li a:hover {color:red;}
#open_windows a.windowLink,#show_search{text-decoration: none;color:black;}
#open_windows a.windowLink {position: relative;padding-right: 40px;text-align: center;}
#open_windows a.windowLink span {color:white;font-weight: bold;text-decoration: none;position: absolute;top:0px;right:-2px;width: 20px;height: 20px;text-align: center;border:none;border-bottom: solid 4px #D8EBEC;border-right: solid 1px #D8EBEC;background-color: #D8EBEC;-webkit-border-radius: 4px;-moz-border-radius: 4px;}
#open_windows a.windowLink:hover,#open_windows a.windowLink:hover span {color:red;}
#open_windows a.windowLink:hover span:hover {color:black;}
#show_search{display:none;}
a.button.hover {border-bottom: solid 4px red;}
#link_content iframe {margin-top: 20px;}
#buttons {display:none;}
a.button {margin: 0px;margin-right: 5px; margin-bottom: 5px;padding:0px 4px;outline:none;border: solid 1px #D8EBEC;float:left;font-size: 14px;line-height: 20px;height: 20px;border-bottom: solid 4px #D8EBEC;text-decoration: none;background-color: white;text-align: center;-webkit-border-radius: 4px;-moz-border-radius: 4px; -moz-box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.5);}
#region_list ,
#areas_list {display: none; border: 1px solid gainsboro;}